.menu-header {
  background: #68C6BF;
}

.logo {
  float: left;
  height: inherit;
}

.logo > img {
  height: inherit;
  vertical-align: unset;
}

li.slick-active button {
  background: #7D769C
}

.ant-carousel .slick-slide {
  text-align: center;
  max-height: 300px;
  background: #F7DC99;
  overflow: hidden;
}

.ant-layout-content {
  overflow-y: hidden;
}

.slick-slide div, .logo img {
  width: auto !important;
  height: -webkit-fill-available !important;
}

.ant-card-grid {
  padding: 12px;
}

[id*="zoid-paypal-buttons"] {
  max-width: 400px !important;
}

.required-shadow input {
  -moz-box-shadow:    inset 0 0 3px red;
  -webkit-box-shadow: inset 0 0 3px red;
  box-shadow:         inset 0 0 3px red;
}

.ant-input-group-addon {
  width: 60px;
}

.submit-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.ant-badge-count {
  left: 40px;
}

/* Contact */
/* .contact-wrap {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
} */

 .contact-wrap .contact-left {
  margin: 40px 10px;
  /* display: inline-block;
  padding-right: 10%;
  vertical-align: top;
  width: 70%;
  line-height: 1.5;
  text-align: left; */
}

.contact-wrap .contact-right {
  margin: 40px 10px;
  /* text-align: left;
  display: inline-block;
  width: 25%;
  line-height: 1.5; */
}

.contact-field {
  margin-bottom: 20px;
  max-width: 450px !important;
  min-width: 300px !important;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  flex: 0 1 26%;
}
